.BusinessContextTapBar {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* padding: 24px 87px 0px 48px; */
    gap: 56px;

    width: calc(100% - 400px);
    height: 66px;


    position: absolute;
    left: 380px;
    /* right: 2.22%; */
    top: 90px;
    bottom: 83.89%;

    /* Colors/White Background */

    background: #FFFFFF;
    box-shadow: 0px 1px 0px #F4F5F7;
    border-radius: 12px 12px 0px 0px;
}

.BusinessContextTapBarFrame {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0px;
    /* gap: 16px; */

    padding: 24px 0px 0px 48px;

    width: 147px;
    /* height: 80px; */


    /* Inside auto layout */

    /* flex: none;
    order: 1;
    flex-grow: 0; */
}

.BusinessContextTapBarRectangle{
    
    height:2px;
    background-color: #0165FF;
    margin-top: 8px;
    box-shadow: 0px 1px 4px rgba(1, 101, 255, 0.22);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.BusinessContextTapBarMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 6px;
    gap: 16px;

    width: 146px;
    height: 25px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.BusinessContextTapBarTitle {
    width: 120px;
    height: 19px;

    /* App/App-Button */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */

    letter-spacing: -0.01em;
    text-transform: uppercase;

    /* Colors/Blue */

    color: #0165FF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}